@fs-m: 20px;
@fs-ms: 16px;
@fs-s: 14px;
@fs-c: #FFFFFF;
@twitter-blue: #55ACEE;
@ff-n: 'Open Sans', sans-serif;
@ff-ref: Georgia, serif;
@bg-gray-dark: #DCDCDC;
@bg-gray-light: #F0F0F0;

body {
    font-family: @ff-n;
    font-size: @fs-ms;
}

h2 {
    margin-top: 0;
}

ol { 
    list-style-type: disc;
}

blockquote {
    padding-top: 0 !important;
}

.data-awards {
    .text-corner;
	height: 550px;
	overflow: hidden;
	overflow-y: scroll;
	margin-bottom: 12px;
    padding: 18px 12px 18px 12px;
}

.data-awards:hover {
    background-color: @bg-gray-light;
    cursor: pointer;
}

.work-refer-title {
    background-color: @bg-gray-light;
    padding: 3px 6px 3px 6px;
    .text-corner;   
}

.works-thumbs-title {
    margin-top: 12px;
    font-weight: 700;
}