@use "common.scss";

#region-footer {
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
}

#region-footer span,
#region-footer a {
    margin-right: 3px;
    line-height: 48px;
}

#region-footer .footer-img {
    margin-left: 6px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

#region-footer .footer-img:hover {
    filter: none;
    -webkit-filter: none;
}

#region-footer .footer-ver {
    margin-right: 6px;
}