@import "common.less";

.container {
    margin-top: 24px;
}

/* iphone 6 width: 667px or less */
/* ipad width: 768px to 1024px */
@media only screen and (max-width : 1024px) {
    .header-title {
        font-size: 28px !important;
    }
    .header-bg {
        height: 260px;
    }
    .img-nostyle,
    .img-square {
      display: none;
    }
    .text-date {
        position: static !important;
    }
}

#linkedin-nav {
    background-color: @fs-c;
    border: @bg-gray-dark solid 1px;
    width: 160px;
    height: 80px;
    position: fixed;
    top: 30px;
    right: 0px;
    padding: 2px 2px 2px 6px;
    text-align: center;
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    z-index: 2;
}
