@use "common" as common;

.searchbox-wrapper {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.searchbox-input {
    width: 100%;
    max-width: 960px;
    padding: 20px 40px;
    font-family: common.$ff-n;
    font-size: calc(common.$fs-ms * 2);
    border: 1px solid common.$bg-gray-dark;
    border-radius: 48px;
    outline: none;
}

.searchbox-input:focus {
    border-color: common.$twitter-blue;
    box-shadow: 0px 1px 6px 0px rgba(85, 172, 238, 0.5);
}

.text-highlight {
    background-color: #FFF176;
}
