@use "common.scss";

.btn-block-group {
    margin-top: 12px;
    margin-bottom: 12px;
}

.btn-block-default {
    margin-right: 6px;
}

.btn-block-default:hover,
.btn-block-default:visited,
.btn-block-default:active {
    background-color: #FFF;
}