@use "common.scss";

@mixin text-corner($radius: 6px){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

.portfolio-block {
    @include text-corner;
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 12px;
    padding: 18px 12px 18px 12px;
}

.portfolio-block:hover {
    background-color: common.$bg-gray-light;
    cursor: pointer;
}