@fs-n: 20px;
@fs-ms: 16px;
@fs-s: 14px;
@fs-c: #FFFFFF;
@ff-n: 'Open Sans', sans-serif;
@ff-ref: Georgia, serif;
@bg-gray-dark: #DCDCDC;
@bg-gray-light: #F0F0F0;

.text-corner (@radius: 6px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

body {
  font-family: @ff-n;
  font-size: @fs-ms;
  margin-top: 3px;
  margin-bottom: 3px;
}

h2 { margin-top: 0px; }
ol { list-style-type: disc; }

.pb-18 { padding-bottom: 18px; }
.fs-16 { font-size: @fs-ms; }

.container {
  margin-top: 80px;
}
.label { vertical-align: middle; }

/* header */
.header-bg {
  background: url("../images/common/background_fostercity.jpg");
  position: fixed;
  width: 100%;
  height: 340px;
  top:0;
  left:0;
  z-index: -1;
}

.header-title {
  color: @fs-c;
  font-size: 42px !important;
  text-shadow: #444444 0 1px 1px;
  font-weight: bold;
  line-height: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
  left: 0;
  right: 0;
  text-align: center;
}


/* iphone 6 width: 667px or less */
/* ipad width: 768px to 1024px */
@media only screen and (max-width : 1024px) {
  .header-title {
    font-size: 28px !important;
  }
  .header-avatar{
    width: 120px;
    height: 120px;
  }
  .header-bg {
    height: 260px;
  }
  .text-img-pure,
  .text-img {
    display: none;
  }
  .text-date {
    margin-left: 40px;
  }
}

.header-avatar {
  position: absolute;
  margin-right: 60px;
  top: 245px;
  left: 75%;
  border: 10px solid #E8E6E6;
}

.header_icons:hover { opacity: 0.6; }
.header_icons_section {
  text-align: right;
}

.header_icons_section a {
  margin-left: 2px;
  margin-right: 2px;
}

.jumbotron {
  color: @fs-c;
  height: 300px;
  background:transparent;
}


.description span {
  display:list-item;
  list-style-type: disc;
}

.direct-display-content {
  border: 1px solid @bg-gray-dark;
  min-height: 200px;
  padding: 6px 12px 6px 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../images/common/wikipedia.png");
  .text-corner;
}

.dd-tags {
  margin-bottom: 12px;
}

.dd-tags div{
  background-color: @bg-gray-light;
  padding: 2px 6px 2px 6px;
  margin-right: 8px;
  display: inline-block;
  .text-corner;
}

.dd-tags:hover {
  cursor: pointer;
}

/* region */
#region-nav-info {
  margin-bottom: 12px;
}

#region-footer {
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: center;
}

#region-footer span,
#region-footer a {
  margin-right: 3px;
  line-height: 48px;
}

#linkedin-nav {
  background-color: @fs-c;
  border: @bg-gray-dark solid 1px;
  width: 160px;
  height: 80px;
  position: fixed;
  top: 30px;
  right: 0px;
  padding: 2px 2px 2px 6px;
  text-align: center;
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.75);
  z-index: 2;
}

/* customize bootstrap */
.label-teamwork {
  font-size: @fs-ms;
  font-weight: 400;
  padding: 2px 10px;
  margin-left: 6px;
}

/* footer */
.footer-img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.footer-img:hover {
  filter: none;
  -webkit-filter: none;
}

.footer-ver {
  margin-right: 6px;
}

/* text */
.text-title {
  font-size: @fs-n;
  font-weight: bold;
}

.text-desc {
  font-size: @fs-ms;
  margin-top: 6px;
  margin-bottom: 3px;
  list-style-type: disc;
}

.text-experience {
  font-size: @fs-n;
  font-style: italic;
  font-weight: bold;
}

.text-media {
  font-family: @ff-ref;
  font-size: @fs-s;
  font-style: italic;
  width: 100%;
  margin: 2px 0;
  padding: 0 40px 12px 40px;
  line-height: 1.45em;
  position: relative;
}

.text-media span span {
  display: list-item;
}

.text-media:before {
  display: block;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: -10px;
  top: 0;
  color: #7A7A7A;
}

.text-ref-set {
  margin-bottom: 6px;
  white-space: nowrap;
}

.text-ref-title {
  margin-left: 12px;
  background-color: @bg-gray-light;
  padding: 3px 6px 3px 6px;
  .text-corner;
}

.text-ref-icon {
  border: 3px solid;
  border-color: @bg-gray-dark;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.text-img {
  max-width: 270px;
  max-height: 135px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 0px 25px rgba(0, 0, 0, 0.75);
  box-shadow:         0px 0px 25px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.text-date {
  padding: 10px 0 10px 0;
}

.block-btn {
  margin-bottom: 12px !important;
  margin-right: 6px;
}

.github-url {
  word-wrap: break-word;
}